RewriteEngine on  
RewriteCond %{REQUEST_FILENAME} !-f  
#RewriteCond %{REQUEST_FILENAME} !-d   
RewriteRule ^(.*) upload.php?path=$1 [L,QSA] 

  
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*)?(.*) upload.php?path=$1&$2 [L,QSA]